<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <!-- 发出的post请求会携带input的信息 -->
    <button type="submit">Login</button>
    <!-- 仅仅是通过get请求访问页面 -->
    <button type="button" onclick="window.location.href='/register'">Register</button>
</form>
</body>
</html>
