<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<div class="login-container">
    <h2>Register</h2>
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit" class="login-btn">Register</button>
        <button type="button" class="register-btn" onclick="window.location.href='/login'">Back to Login</button>
    </form>
</div>
</body>
</html>
